[data-root] {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;

	moz-tab-size: 4;
	tab-size: 4;
}
/* FIXME? */
[data-root] * {
	caret-color: var(--black);
}

[data-root][contenteditable]:focus {
	outline: 0;
}
