.language-gfm .token.title {
	font-weight: 700;
}

.language-gfm .token.italic {
	font-style: italic;
}

.language-gfm .token.bold {
	font-weight: 700;
}

.language-gfm .token.code {
	padding: 0.0625em 0;
	color: var(--blue-600);
	border: 1px solid var(--cool-gray-300);
	border-radius: 0.25em;
}

.language-gfm .token.strike {
	text-decoration: line-through;
	--blue-600: var(--cool-gray-400);
	color: var(--cool-gray-400);
}

.language-gfm .token.url {
	color: var(--blue-600);
}

.language-gfm .token.punctuation {
	color: var(--blue-600);
}
