/* [<]a href[=]"..."[>] */
.language-html .token.punctuation {
	color: var(--gray-400);
}

/* <[a] href="..."> */
.language-html .token.tag {
	color: var(--blue-600);
}

/* <a [href]="..."> */
.language-html .token.attr-name {
	color: var(--teal-600);
}

/* <a href=["..."]> */
.language-html .token.attr-value {
	color: var(--green-600);
}
