/* [data-root="true"] { */
/* 	transform: translateZ(0); */
/* } */

[data-root="true"][contenteditable="true"] [data-type="p"][data-feature-empty],
[data-root="true"][contenteditable="false"] [data-type="p"][data-feature-empty] {
	transition-property: line-height;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
[data-root="true"][contenteditable="false"] [data-type="p"][data-feature-empty]:first-child {
	line-height: 0;
	user-select: none;
}
[data-root="true"][contenteditable="false"] [data-type="p"][data-feature-empty] {
	line-height: 1;
}
[data-root="true"][contenteditable="false"] [data-type="p"][data-feature-empty] + [data-type="p"][data-feature-empty] {
	line-height: 0;
	user-select: none;
}
