.language-gfm {
	/* https://tailwindcss.com/docs/font-family */
	--font-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.language-gfm .token.title {
	font-weight: 700;
}

.language-gfm .token.italic {
	font-style: italic;
}

.language-gfm .token.bold {
	font-weight: 700;
}

.language-gfm .token.code {
	padding: 1px 0.0625rem;
	font-size: 0.875rem;
	font-family: var(--font-mono);
	color: var(--blue-600);
	border: 1px solid var(--gray-300);
	border-radius: 0.25rem;
}

.language-gfm .token.strike {
	text-decoration: line-through;
	--blue-600: var(--gray-400);
	color: var(--gray-400);
}

.language-gfm .token.url {
	color: var(--blue-600);
}

.language-gfm .token.punctuation {
	color: var(--blue-600);
}
